* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  /* background: url("./assets/avengerbg.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 75%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#clock-container {
  height: 50%;
  border-radius:50%;
  backdrop-filter: blur(12px);
  position: relative;
}

#clock-container img {
  height: 100%;
  filter: invert(1);
  object-fit: cover;
  object-position: center;
}

.hands {
  height:4px;
  width: 50%;
  background-color: blue;
  position: absolute;
  top:45%;
  left:50%;
  transform-origin: 0% 50%;

}

#hourHand {
  width: 30%;
  height: 6px;
  background: red;
}

#minHand {
  width: 40%;
  height: 4px;
  background: green;
}

#secHand {
  width: 45%;
  height: 2px;
  background: yellow;
}