* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #000;
    overflow: auto;
}

.add-data{
    width: 100%;
    background-color: #F8CB45;
    padding: 40px 50px;
}

.add-data form{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.add-data input{
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    font-size: 17px;
    outline: none;
}
.add-data button{
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    font-size: 17px;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}

.all-data{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.item{
    background-color: white;
    padding: 20px 40px;
    text-align: left;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    flex-direction: column;
}

.item h3{
    font-size: 22px;
    text-decoration: underline;
}
.item div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.item div button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.item div button:nth-child(2){
    background-color:red;
}