* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 20px;
  color: white;
}

h3 {
  margin-bottom: 10px;
}

.divtwo,.divsix,
.divfive {
  margin-top: 60px;
}
.box,
.hidebox {
  width: 200px;
  height: 200px;
  background-color: crimson;
  margin-top: 20px;
  border-radius: 10px;
}

.boxx{
  width: 500px;
  height: 200px;
  background-color: violet;
  margin-top: 20px;
  border-radius: 10px;

}

button {
  padding: 10px 10px;
  background: gray;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  opacity: 0.8;
}

.traffic-light {
  width: 100px;
  padding: 20px;
  background: black;
  border-radius: 10px;
}

.light {
  height: 60px;
  width: 60px;
  background: gray;
  border-radius: 50%;
  margin: 10px auto;
}