* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
}

.divtwo,
.divfive {
  margin-top: 60px;
}
.box,
.hidebox {
  width: 200px;
  height: 200px;
  background-color: crimson;
  margin-top: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 10px;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  opacity: 0.8;
}
