
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.319);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  transition: transform 0.4s ease;
}

nav div {
  display: flex;
  gap: 40px;
}

img {
  width: 100%;
}