/* Default Light Theme */
body {
  background-color: white;
  color: black;
  transition: 0.3s;
  text-align: center;
  padding-top: 50px;
  font-family: Arial;
}

.dark {
  background-color: black;
  color: white;
}

#box{
  width: 150px;
  height: 150px;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 100px auto;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: transform 0.5s ease;
}