* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

#box {
  height: 250px;
  width: 250px;
  background-color: crimson;
}
#imgbheem {
  height: 280px;
  width: 220px;
  transition: all 0.1s linear;

  position: absolute;
}

#piano {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

.key {
  width: 80px;
  height: 200px;
  background: white;
  margin: 8px;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  line-height: 200px;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
}

.key.active {
  background: yellow;
  transform: scale(1.1);
}
#h1 {
  text-align: center;
  padding: 50px;
}
